html, body {margin: 0; height: 100%; overflow: hidden}
th{
    width: 12vh;
    height: 12vh;
    padding: 0px;
    margin: auto;
    border: 2px solid black;
}
th.WhiteTile{
    background-color: whitesmoke;
    alt: "WhiteTile";
}
th.WhiteTile:hover{
    filter: brightness(70%);
}
th.BlackTile{
    background-color: rgb(41, 39, 39);
    alt: "BlackTile";
}
th.BlackTile:hover{
    filter: brightness(130%);
}
img{
    width: 50%;
    height: 70%;
}
table{
    border-collapse: collapse;
    width:75%;
    margin: auto;
    transform: translateY(0.8%);
}
@media only screen and (max-width: 600px) {
    img {
        height: 50%;
    }
  }